<html>
    <head>
        <title>signup</title>
    </head>
    <body>
        <form>
            <label for="name">name:</label>
            <input type="text" name="name" ><br><br>
            <label for="address">address:</label>
            <input type="text" name="name" ><br><br>
            <label for="gender">gender:</label>
            <input type="radio" name="radio" value="male">male
            <input type="radio" name="radio" id="female">female <br><br>
            <label for="country">country</label><br>
            <select name="country" id="">
            <option value="select your country">select your country</option>
            <option value="china">china</option>
            <option value="usa">usa</option>
            <option value="uk">uk</option>
            <option value="india">india</option>
            </select><br><br>
          <label for="email">Email:</label><br>
          <input type="text" name="name" ><br><br>
          <label for="moblienumber">Mo No:</label><br>
          <input type="number" name="number" value="number"><br><br>
          <button>submit</button>
          <button>reset</button>

            
            
        </form>
    </body>
</html>
